<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/editUserDetails.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <form action="#" th:action="@{/details}" th:object="${user}" method="post">
      <div style="width: 30%">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" id="username" th:value="${user.username}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone number</label>
          <input class="form-control" id="phoneNumber" th:value="${user.phoneNumber}" th:name="phoneNumber" th:id="phoneNumber" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" th:value="${user.email}" th:name="email" th:id="email" readonly="readonly">
        </div>
        <button class="btn btn-primary btn-block" id="confirm-button" name="Submit" type="Submit" th:text="Confirm" style="display: none"></button>
      </div>
    </form>

    <button id="edit-button" onClick="editFields()">Edit</button>
  </body>
</html>