<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/results.css}">
    <script th:src="@{/colourCoding.js}"></script>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <th:block th:if="${result != null}">
      <p>
        Your BMI is:
        <span class="new-result-bmi" th:text="${#numbers.formatDecimal(result.bmi, 0, 'COMMA', 2, 'POINT')}" th:data-bmi="${result.bmi}"></span>
      </p>
    </th:block>
    <div th:each="pastResult : ${resultHistory}" class="past-results">
      <p class="past-results-bmi">
        BMI:
        <span class="past-results-bmi-data" th:text="${pastResult.bmi}" th:data-bmi="${pastResult.bmi}"></span>
      </p>
      <p class="past-results-date" th:text="${'Date recorded: ' + pastResult.dateCalculated}"></p>
    </div>
  </body>
</html>